
* {
     margin: 0;
     box-sizing: border-box;
     font-family: sans-serif;
 }
 
#container{

     width: 100%;
     height: 30%;
     
}


header{
   
    background:url(img/header.jpg); 
    width: 100%;
     height: 30%;
}

nav{
padding-top: 20px;
width: 90%;


}

#navegacion{
display: inline;
padding-top: 10px;
}

li{

 display: inline;
 padding-right: 50px;
 padding-top: 5px;
}
a{
     color: white;
     text-decoration: none;
}

#botton-sing{

color: white;
border-radius: 66px;
border-color: white;
background-color: transparent;
width: 120px;
height: 30px;

}
#nombre{

width: 100px;
height: 100px;
padding-right: 10px;
}

#buscar{
border-radius: 66px;
border-color: transparent;
background-color:rgba(216,216,216,0.2);
width: 200px;
height: 30px;
text-align: left;
color: white;


}
#logo{
     width: 200px;
     height: 30px;

}

